body{
    max-width: 50%;
    margin: 5% auto;
}

.header{
    background-color: #6943FF;
    text-align: center;
    margin: 0;
}

#input-field{
    display: block;
    margin: auto;
    margin-bottom: 5%;
    background-color: #6943FF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    width: 15%;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Inter';
    font-weight: bolder;
}

#header-h2{
    padding-top: 5%;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 32px;
    color: #FFFFFF;
}

button{
    padding: 7px 25px;
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    margin-bottom: 5%;;
}

.conversion{
    margin-top: 0;
    background-color:  #1F2937; 
    color: #CCC1FF;
    padding: 5%;

}

.conversion-child{
    background-color: #273549;
    width: 90%;
    margin: 3% auto;
    text-align: center;
    padding: 5% 0;
    margin: 0 auto 2.5% auto;
}   

.conversion-h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
}

.converted{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
    padding-bottom: 10px;
}