*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
}


.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    width: 100vw;
}

.colorPicker, .dropdown, .get-color{
    display: inline-block;
}



